
<div class="footer-section">     
    <div class=" rqdfooter">
        <div class="copyright">{{ entry.footersection.copyright }}</div>
        <div class="footer-links">
            <a href="{{ entry.footersection.footerlinks.instagram.href }}"><i class="fa fa-instagram"></i></a>
            <a href="{{ entry.footersection.footerlinks.facebook.href }}"><i class="fa fa-facebook"></i></a>
            <a href="{{ entry.footersection.footerlinks.google.href }}"><i class="fa fa-google"></i></a>   
            <a href="{{ entry.footersection.footerlinks.snapchat.href }}"><i class="fa fa-snapchat-ghost"></i></a>
            <a href="{{ entry.footersection.footerlinks.twitter.href }}"><i class="fa fa-twitter"></i></a>
            <a href="{{ entry.footersection.footerlinks.youtube.href }}"><i class="fa fa-youtube"></i></a>
        </div>
        
    </div>
</div>      
        
    <script src="/static/javascripts/myscript.js"></script>    