
<div class="footer-section">     
    <div class=" rqdfooter">
        <div class="copyright">{{ partials.footer.copyright }}</div>
        <div class="footer-links">
            <a href="{{ partials.footer.footerlinks[0].href }}"><i class="fa fa-instagram"></i></a>
            <a href="{{ partials.footer.footerlinks[1].href }}"><i class="fa fa-facebook"></i></a>
            <a href="{{ partials.footer.footerlinks[2].href }}"><i class="fa fa-google"></i></a>   
            <a href="{{ partials.footer.footerlinks[3].href }}"><i class="fa fa-snapchat-ghost"></i></a>
            <a href="{{ partials.footer.footerlinks[4].href }}"><i class="fa fa-twitter"></i></a>
            <a href="{{ partials.footer.footerlinks[5].href }}"><i class="fa fa-youtube"></i></a>
        </div>
        
    </div>
</div>      
        
    <script src="/static/javascripts/myscript.js"></script>    