
<header class="header">
        <div class="wrapper">  
                <nav class="nav"> 
                 <a href={{ url }}><img src={{ partials.header.logo.url }}></a>
                         <ul> 
                                {% for header in partials.header.menu %}
                            <li><a href={{ header.link.href }}>{{ header.link.title }}</a>
                            <ul>
                                    {% for header in partials.header.menu.sub_menu %}
                                    <li><a href={{ header.href }}>{{ header.title }}</a></li>
                                    {% endfor %}
                            </ul> 
                            </li> 
                            {% endfor %}
                        </ul> 
                   
                </nav> 
        </div> 
</header> 