
<header class="header">
        <div class="wrapper">  
                <nav class="nav"> 
                    <a href={{ url }}><img src={{ partials.header.logo.url }}></a>
                        <ul> 
                            <li><a href={{ partials.header.menulinks[0].href }}>{{ partials.header.menulinks[0].title }}</a></li>
                            <li><a href={{ partials.header.menulinks[1].href }}>{{ partials.header.menulinks[1].title }}</a></li>
                            <li><a href={{ partials.header.menulinks[2].href }}>{{ partials.header.menulinks[2].title }}</a></li>
                            <li><a href={{ partials.header.menulinks[3].href }}>{{ partials.header.menulinks[3].title }}</a>
                                <ul>
                                    <li><a href="#">Page 1</a></li>
                                    <li><a href="#">Page 2</a></li> 
                                </ul> 
                            </li>
                        </ul> 
                </nav> 
        </div> 
</header> 