
<header class="header">
        <div class="wrapper">  
                <nav class="nav"> 
                    <a href={{ url }}><img src={{ partials.header.logo.url }}></a>
                        <ul> 
                            <li><a href={{ partials.header.menu[0].link.href }}>{{ partials.header.menu[0].link.title }}</a></li>
                            <li><a href={{ partials.header.menu[1].link.href }}>{{ partials.header.menu[1].link.title }}</a></li>
                            <li><a href={{ partials.header.menu[2].link.href }}>{{ partials.header.menu[2].link.title }}</a></li>
                            <li><a href={{ partials.header.menu[3].link.href }}>{{ partials.header.menu[3].link.title }}</a>
                                <ul>
                                    <li><a href={{ partials.header.menu[3].link.sub_menu[0].href }}>{{ partials.header.menu[3].sub_menu[0].title }}</a></li>
                                    <li><a href={{ partials.header.menu[3].link.sub_menu[1].href }}>{{ partials.header.menu[3].sub_menu[1].title }}</a></li> 
                                </ul> 
                            </li>
                        </ul> 
                </nav> 
        </div> 
</header> 