 {% extends "./layouts/main.html" %} 
    
    {% block section %}
        <section class="container">
            <div class="slidecontainer">
                {% for entry in entry.banner %}
                    <div class="slideimg">
                        <img src={{ entry.url }}>
                    </div>
                 {% endfor %}
                <a class="prev" onclick="plusSlide(-1)">&#10094;</a>
                <a class="next" onclick="plusSlide(1)">&#10095;</a>
               
            </div> 
            
    

            <div class=" flex-container">
                {% for entry in entry.testimonials %}
                <div class="column">
                    <img src={{ entry.image.url }} alt="george" class="imgcontainer">
                    
                    <div class="desc">
                        <p><b>{{ entry.name }}</b></p>
                        <p>{{ entry.description }}</p>
                    </div>
                
                </div>
                {% endfor %}
             </div>
            
        </section>

    
            
    {% endblock section %}
   