 {% extends "./layouts/main.html" %} 
    
       {% block section %}
       <section class="container">
            <div class="slidecontainer">
                <div class="slideimg">
                    <img src={{ entry.banner[0].url }}>
                    <div class="numbertxt">1/3</div>
                </div>

                <div class="slideimg">
                    <img src={{ entry.banner[1].url }}>
                    <div class="numbertxt">2/3</div>
                </div>  

                <div class=" slideimg">
                    <img src={{ entry.banner[2].url }}>
                    <div class="numbertxt">3/3</div>
                </div>   
                    
                <a class="prev" onclick="plusSlide(-1)">&#10094;</a>
                <a class="next" onclick="plusSlide(1)">&#10095;</a>
            </div> 
            
            
        
        <div class=" flex-container">

            <div class="column">
                <img src={{ entry.testimonials.image[0].url }} alt="george" class="imgcontainer">
                
                <div class="desc">
                    <p><b>{{ entry.testimonials.name[0] }}</b></p>
                    <p>{{ entry.testimonials.description[0] }}</p>
                 </div>
            </div>

            <div class="column">
                <img src={{ entry.testimonials.image[1].url }} alt="david" class="imgcontainer">
               
                <div class="desc">
                    <p><b>{{ entry.testimonials.name[1] }}</b></p>
                    <p>{{ entry.testimonials.description[1] }}</p>
                </div>
            </div>

            <div class="column">
                <img src={{ entry.testimonials.image[2].url }} alt="kit " class="imgcontainer">
                
                <div class="desc">
                <p><b>{{ entry.testimonials.name[2] }}</b></p>
                <p>{{ entry.testimonials.description[2] }}</p>
                </div>
            </div>

            <div class="column">
                <img src={{ entry.testimonials.image[3].url }} alt="dany" class="imgcontainer">
               
                <div class="desc">
                    <p><b>{{ entry.testimonials.name[3] }}</b></p>
                    <p>{{ entry.testimonials.description[3] }}</p>
                </div>
            </div>

        </div>

    </section>

    <footer class="footer">       
        <div class="mainfooter">

            <div class="width ">
                <img src={{ entry.footerlogo.url }} id="logoimg">
            </div>
            
            <div class="width">
                <p><a href={{ entry.menu[0].href }}>{{ entry.menu[0].title }}</a></p>
                <p><a href={{ entry.menu[1].href }}>{{ entry.menu[1].title }}</a></p>
                     <div class="dropdown">
                         <a href={{ entry.menu[2].href }}>{{ entry.menu[2].title }}</a>
                            <div class="dropcontent">
                                <p><a href="#">page1</a></p>
                                <p><a href="#">page2</a></p>
                            </div>    
                    </div>
            </div>
                
            <div class="width">
                <p><a href="">{{ entry.links[0].title }}</a></p>
                <p><a href="">{{ entry.links[1].title }}</a></p>
                <p><a href="">{{ entry.links[2].title }}</a></p>
            </div>  
            
        </div>
    </footer>  
            
        {% endblock section %}
   